
div#popupviewer, div#popupviewer_overlay {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 11000;
	position: absolute;
	
}

div#popupviewer_overlay {
	background-color: #000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter:alpha(opacity=80);
	-moz-opacity:.80;
	-webkit-transition: opacity 1s linear;
	opacity: 0.8;
}

div#popupviewer_content {
	background-color: #fff;
	border: 2px solid #999;
	z-index: 11002;
	padding: 10px;
	overflow: auto;
}

div#popupviewer_content.isImage {
	padding: 0px;
	border: none;
	background-color: transparent;
	overflow: visible;
}

div#popupviewer_content div.additionalContent {
	background-color: #fff;
	padding: 0px 30px;
	position:relative;
	border: 1px solid #333;
}

div#popupviewer_content.isImage img, div#popupviewer_loader_div, div#popupviewer_content.dokuwiki, div#popupviewer_content div.additionalContent {

	box-shadow: 0.2em 0.2em 3em rgba(255, 255, 255, 0.4);
	-moz-box-shadow: 0.2em 0.2em 3em rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0.2em 0.2em 3em rgba(255,255,255, 0.4);

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div#popupviewer_content.hidden *{
	visibility: hidden;
}

div#popupviewer_content img.imageContent {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
	background-color: __background__; 
}

div#popupviewer_control {
	position:absolute;
	left:0px;
	top:0px;
	z-index: 11004;
}

#popupviewer_control_closeImage,
#popupviewer_control_prevoiusImage,
#popupviewer_control_nextImage {
	width: 24px;
	height: 24px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: -13px;
	margin-right: -13px;
	z-index: 11010;
}

#popupviewer_control_closeImage {
	background: url(images/modifier-images.png) -48px 0 no-repeat;
}

#popupviewer_control_prevoiusImage {
	background: url(images/modifier-images.png) 0 0 no-repeat;
	margin-right: 50px;
}

#popupviewer_control_nextImage {
	background: url(images/modifier-images.png) -24px 0 no-repeat;
	margin-right: 26px;
}

* html #popupviewer_control_closeImage {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/lib/plugins/popupviewer/images/close.png', sizingMethod='crop');
	right: 15px;
}

* html #popupviewer_control_prevoiusImage {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/lib/plugins/popupviewer/images/previous.png', sizingMethod='crop');
	right: 15px;
}

* html #popupviewer_control_nextImage {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/lib/plugins/popupviewer/images/next.png', sizingMethod='crop');
	right: 15px;
}


#popupviewer_control_prevoiusImage.inactive,
#popupviewer_control_nextImage.inactive {
	cursor: default;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter:alpha(opacity=5);
	-moz-opacity:.5;
	opacity:.5;
}

div#popupviewer_loader_div {
	background: url(images/loading.gif);
	width: 208px;
	height: 13px;
	margin: auto;
	position: relative;
}